:root{
	
	--primary: #66cfa9;
	--secondary: #1c1f7b;
	--primary-hover: #47b38c;
	--primary-dark: #3ccb97;
	--rgba-primary-1: rgba(102,207,169,0.1);
	--rgba-primary-2: rgba(102,207,169,0.2);
	--rgba-primary-3: rgba(102,207,169,0.3);
	--rgba-primary-4: rgba(102,207,169,0.4);
	--rgba-primary-5: rgba(102,207,169,0.5);
	--rgba-primary-6: rgba(102,207,169,0.6);
	--rgba-primary-7: rgba(102,207,169,0.7);
	--rgba-primary-8: rgba(102,207,169,0.8);
	--rgba-primary-9: rgba(102,207,169,0.9);
	--title: #13212a;
	--gray: #f5f5f5;
}